<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.java.library</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/webapi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login111</display-name>
    <servlet-name>Login111</servlet-name>
    <servlet-class>com.java.library.Login111</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login111</servlet-name>
    <url-pattern>/Login111</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAccount</display-name>
    <servlet-name>UserAccount</servlet-name>
    <servlet-class>com.java.library.UserAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAccount</servlet-name>
    <url-pattern>/UserAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.java.library.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchPrint</display-name>
    <servlet-name>SearchPrint</servlet-name>
    <servlet-class>com.java.library.SearchPrint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchPrint</servlet-name>
    <url-pattern>/SearchPrint</url-pattern>
  </servlet-mapping>
</web-app>