.myhotelClass {
    text-align: center;
    font-size: 300%;
    color: Red;
}

body {
    background-image: url(".jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.textClass {
    text-align: center;
    font-size: 210%;
    color: Red;
}
