<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LibraryApp_Servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserAccount</display-name>
    <servlet-name>UserAccount</servlet-name>
    <servlet-class>UserAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAccount</servlet-name>
    <url-pattern>/UserAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAccount</display-name>
    <servlet-name>AdminAccount</servlet-name>
    <servlet-class>AdminAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAccount</servlet-name>
    <url-pattern>/AdminAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountDetails</display-name>
    <servlet-name>AccountDetails</servlet-name>
    <servlet-class>AccountDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountDetails</servlet-name>
    <url-pattern>/AccountDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login111</display-name>
    <servlet-name>Login111</servlet-name>
    <servlet-class>Login111</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login111</servlet-name>
    <url-pattern>/Login111</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchPrint</display-name>
    <servlet-name>SearchPrint</servlet-name>
    <servlet-class>SearchPrint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchPrint</servlet-name>
    <url-pattern>/SearchPrint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Issue</display-name>
    <servlet-name>Issue</servlet-name>
    <servlet-class>Issue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Issue</servlet-name>
    <url-pattern>/Issue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Return</display-name>
    <servlet-name>Return</servlet-name>
    <servlet-class>Return</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Return</servlet-name>
    <url-pattern>/Return</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnNext</display-name>
    <servlet-name>ReturnNext</servlet-name>
    <servlet-class>ReturnNext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnNext</servlet-name>
    <url-pattern>/ReturnNext</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>History</display-name>
    <servlet-name>History</servlet-name>
    <servlet-class>History</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>History</servlet-name>
    <url-pattern>/History</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Selectuser</display-name>
    <servlet-name>Selectuser</servlet-name>
    <servlet-class>Selectuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Selectuser</servlet-name>
    <url-pattern>/Selectuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Showselecteduser</display-name>
    <servlet-name>Showselecteduser</servlet-name>
    <servlet-class>Showselecteduser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Showselecteduser</servlet-name>
    <url-pattern>/Showselecteduser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Removeuser</display-name>
    <servlet-name>Removeuser</servlet-name>
    <servlet-class>Removeuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Removeuser</servlet-name>
    <url-pattern>/Removeuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Removeusernext</display-name>
    <servlet-name>Removeusernext</servlet-name>
    <servlet-class>Removeusernext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Removeusernext</servlet-name>
    <url-pattern>/Removeusernext</url-pattern>
  </servlet-mapping>
</web-app>